// nav y footer
.botonera{
    background-color: rgba(134, 126, 115, 0.1);
        img{
            width: 200px;
        }
        li{
            margin-left: 5vw;
            padding-right: 3vw;
        }
            a{
                text-decoration: none;
                font-size: $font-sz-l;
                color: $main-color;
                font-weight: $text-w-bolder;
                &:hover{
                    color: $hover-color;
                }
            }
}
footer{
    background-color: $bg-dark-color;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
        img{
            width: 60px;
            padding: 10px 10px;
            margin-left: 20px;
            color: white;  
        }
        a{
            text-decoration: none;
        }
}